
apiVersion: v1
kind: Config
clusters:
- cluster:
    api-version: v1
    server: "{{ api_url }}"
  name: "{{ main_name }}"
contexts:
- context:
    cluster: "{{ main_name }}"
    user: "{{ main_name }}"
  name: "{{ main_name }}"
current-context: "{{ main_name }}"
users:
- name: "{{ main_name }}"
  user:
    token: "{{ api_token }}"
