upstream rancher {
  server {{ proxy.target }};
}

server {
  listen 443 ssl spdy;
  server_name {{ proxy.domain }};
  ssl_certificate /etc/letsencrypt/live/{{ proxy.domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ proxy.domain }}/privkey.pem;

  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass http://rancher;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
    # This allows the ability for the execute shell window to remain open for up to 15 minutes. Without this parameter, the default is 1 minute and will automatically close.
    proxy_read_timeout 900s;
  }
}

server {
  listen 80;
  server_name {{ proxy.domain }};
  return 301 https://$server_name$request_uri;
}
